* {
    
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

a{ text-decoration: none;}

:root {
    font-size: 20px;
    --color1: #DBE0D1;
    --color2: #082323;
    --color3: #32333B;
    --color4: #32323A;
    --color5: #00140D;
    --color6: #D38D00;


}

@font-face {
    font-family: "jmh-typewriter.regular";
    src: url(../fonts/jmh-typewriter.regular.ttf);

    font-family: "OverpassMono";
    src: url(../fonts/OverpassMono-VariableFont_wght.ttf);
}

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background: var(--color2);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color6);
    border-radius: 15px;
}

.contenedor {
    /*max-width: 120rem;*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: repeat(5, 1fr);
    grid-template-areas:
        "header     header      header"
        "main       main       main"
        "main       main       main"
        "obras     obras      obras"
        "footer      footer     footer";
}


.contenedor .header {
    width: 100%;
    grid-area: header;
    justify-content: space-between;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 50% 50%;
    background-color: var(--color2);
    color: var(--color1);
    align-items: center;
    font-family: 'Tw Cen MT Condensed';
    padding-left: 5%;
}

.nombre {
    font-size: 5rem;
    padding-left: 1.5rem;
}

.contenedor .nav {
    display: flex;
    background-color: var(--color2);
    height: 20vh;
    color: var(--color1);
    justify-content: end;
    padding: 2% 15% 3% 5%;
    font-size: 1.6rem;
    border: red solid 3px;
}

.links:hover {
    box-shadow: 5px 5px 10px var(--color5);
    transform: scale(110%);
    border-radius: 10px;
    transform: rotate3d(0, 0, 1, 6.142rad);
}

#links>a {
    font-family: 'Tw Cen MT Condensed';
   
    padding: 0.55rem 1rem;
    color: var(--color1)
}

#links {
    display: flex;
    height: fit-content;
}

.contenedor .main {
    grid-area: main;
    box-sizing: border-box;
    background-color: var(--color1);


   
}

.cont-cards {
    display: flex;
    width: 100%;
    padding: 3.5rem;
    justify-content: center;
    box-sizing: border-box;
    
   
    @media (max-width: 425px) {
        
        margin-left: 1.5rem;
        padding: 0.4rem;
    
        flex-wrap:wrap;
        width: 90vw;
   
           
       }
    

    
}

.cont-cards .cards {
    display: flex;
    background-color: var(--color2);
    height: 52vh;
    width: 18vw;
    color: var(--color1);
    border-radius: 10px;
    padding: 0.5rem;
    box-sizing: border-box;
    position: relative;
    box-shadow: -3px 0px 10px var(--color2), -4px 0px 10px var(--color2);
    box-shadow: -5px 0px 10px var(--color2);


    @media (max-width: 425px) {
        
        width: 40vw;
       
    }
}

.cont-cards .cards:hover {
    margin-right: 80px;
    transform: rotate(3deg) translateY(-15px);
    transition:calc(0.3s)
}

.cont-cards .cards[class*="c"] {
    margin-left: -50px;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0.8rem;
    @media (max-width: 425px) {
        
        margin-left: -30px;
       
    }
}
  



.img {
    border-radius: 10px;
    border: -3px 0px 10px var(--color2);
    object-fit: cover;
    padding-top: 0.3rem;
    width: 100%;
    height: 100%;
}

.obras {
    grid-area: obras;
    background-color: var(--color1);
}

.obras:hover .resumen:not(:hover) {
    background-color: var(--color4);
}

.obras>div {
   
    padding: 2rem;
    font-family: "OverpassMono";
    height: auto;
    font-size: 0.9rem ;


}



.obras * h2 {
    margin: 1rem;
    font-family: "orbitron";
}

.obras * div{
    
    display: flex;
    margin: 1rem;
   justify-content:center;
   
    
   

}

.comprar{
margin-right: 3rem;
padding:0.6rem;
background: var(--color2);
text-shadow: var(--color5) 3px 2px 3px;
color: var(--color1);
box-shadow: 5px 5px 10px var(--color3); 
border: var(--color2);
border-radius: 4px;


}

.volver{
margin-left:3rem;
padding:0.5rem;
background: var(--color2);
text-shadow: var(--color5) 3px 2px 3px;
color: var(--color1);
box-shadow: 5px 5px 10px var(--color3); 
border-radius: 4px;

@media (max-width: 425px) {
        
    margin-left:0.6rem
   
}

}


.resumen * a:hover{
    background-color: var(--color6);
    transform: rotate3d(0, 0, 1, 6.142rad);

    

}

.footer {
    display: grid;
    grid-area: footer;
    background-color: var(--color2);
    height: 20vh;
    color: var(--color1);
    justify-content: center;
    padding: 1rem;
    font-family:'Tw Cen MT Condensed';
    font-size: 1.5rem;
}

#icon {
    display: flex;
    justify-content: space-between;
}

#icon * img:hover {
    box-shadow: 8px 5px 10px var(--color5);
  
    transform: rotate3d(0, 0, 1, 6.142rad);
}
#icon >a:hover{
    transform: scale(120%);

}

.nombre:hover {

    font-size: 6rem;
    animation: glitch 3s infinite;
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

@keyframes glitch {


    0% {
        text-shadow: #b4cf06 0px 0px,
            #0d22da 0px 0px;
    }

    5% {
        text-shadow: #ff005d -3px 0px,
            #06ffea 3px 0px;
    }

    10% {
        text-shadow: #b4cf06 2px 0px,
            #0d22da -2px 0px;
    }

    15% {
        text-shadow: #b4cf06 -1px 0px,
            #0d22da 1px 0px;
    }

    20% {
        text-shadow: #ff005d -3px 0px,
            #06ffea 3px 0px;
    }

    25% {
        text-shadow: #b4cf06 2px 0px,
            #0d22da -3px 0px;
    }

    26% {
        text-shadow: #ff005d 0px 0px,
            #06ffea 0px 0px;
    }

    35% {
        text-shadow: #b4cf06 2px 0px,
            #0d22da -3px 0px;
    }

    40% {
        text-shadow: #b4cf06 -1px 0px,
            #0d22da 3px 0px;
    }

    45% {
        text-shadow: #ff005d -3px 0px,
            #06ffea 3px 0px;
    }

    50% {
        text-shadow: #b4cf06 2px 0px,
            #0d22da -2px 0px;
    }

    49% {
        text-shadow: #b4cf06 0px 0px,
            #0d22da 0px 0px;
    }

    75% {
        text-shadow: #b4cf06 -3px 0px,
            #0d22da 3px 0px;
    }

    76% {
        text-shadow: #ff005d -3px 0px,
            #06ffea 3px 0px;
    }

    100% {
        text-shadow: #b4cf06 0px 0px,
            #0d22da 0px 0px;
    }


}
