* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

:root {
    font-size: 20px;
    --color1: #DBE0D1;
    --color2: #082323;
    --color3: #32333B;
    --color4: #32323A;
    --color5: #00140D;
    --color6: #D38D00;
}

@font-face {
    font-family:"jmh-typewriter.regular";
    src: url(../fonts/jmh-typewriter.regular.ttf);

    font-family:"OverpassMono";
    src: url(../fonts/OverpassMono-VariableFont_wght.ttf);
}

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background: var(--color2);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color6);
    border-radius: 15px;
}

.contenedor {
    /*max-width: 120rem;*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: repeat(5, 1fr);
    grid-template-areas:
        "header     header      header"
        "main       main       sidebar"
        "section1   section1   section1"
        "section2   section2   section2"
        "footer      footer     footer";
}

.contenedor .header {
    grid-area: header;
    grid-template-rows: 0.5fr;
    width: 100%;
    justify-content: space-between;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 50% 50%;
    background-color: var(--color2);
    color: var(--color1);
    align-items: center;
    font-family: 'Tw Cen MT Condensed';
    padding-left: 5%;
}


.contenedor .nav {
    display: flex;
    background-color: var(--color2);
    height: 20vh;
    color: var(--color1);
    justify-content: end;
    padding: 2% 15% 3% 5%;
    font-size: 1.6rem;
  
}

.nombre {
    font-size:5rem;
    padding-left: 1.5rem;
   
}

.links:hover{
    box-shadow:5px 5px 10px var(--color5);
    transform:scale(110%);
    border-radius: 10px;
    transform: rotate3d(0, 0, 1, 6.142rad);    
}

#links>a {
    font-family: 'Tw Cen MT Condensed';
    text-decoration: none;
    padding: 0.55rem 1rem;
    color: var(--color1);
}

#links {
    display: flex;
    height: fit-content;
}

.contenedor .main {
    grid-area: main;

    display: flex;
    background-color: var(--color3);
    height: auto;
    padding: 1rem;
    padding-top: 5vh;
    justify-content: end;
    box-sizing: border-box;
}

#libro {
    margin: 0.7rem 1rem 0.7rem 1rem;
    justify-content: center;

  
}

.ImgLibro { 
    width: 310px;
    height:300px;
    }

#libro>div {
    font-size: 0.6rem;
    padding: 1rem;
    color: var(--color5);
    background-color: var(--color6);
    margin: 3rem;
    box-shadow: 5px 5px 10px var(--color5); 
    border-radius: 5px;
}

#libro:hover img:not(:hover){
    transform: scale(120%);
}

#libro>a :hover{
transform: scale(120%);
}

.info {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    height: 90%;
    color: var(--color1);
    background-color: var(--color2);
    padding: 1.4rem;

    font-family:"OverpassMono";
    font-size: calc(0.4rem + 0.4vw + 0.6vh);
    text-shadow: 1px 1px 3px black;
    
    text-align: justify;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px var(--color5); 
    overflow: auto;
}

.info>div {
    margin-top: 0.5rem;
}

.info .copete {
    margin-top: 0.2rem;
    margin-bottom: 1rem;
    font-family: "orbitron";
    font-size: calc(0.5rem + 0.9vw+ 0.8vh);
    font-weight: 500;  
}

.contenedor .sidebar {
    grid-area: sidebar;
    background-color: var(--color1);
    
    
}

.yt1 {
    margin: 0.2rem;
    border-radius: 0.8rem;
   
}

.video1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.6rem 0.5rem;
    height: 47%;
    background-color: rgba(50, 51, 59, 0.25);
    border-radius: 0.8rem;
}

h3 {
    padding-bottom: 0.8rem;
    font-family: 'Tw Cen MT Condensed';
    padding-left:0.8rem ;
    padding-right: 0.8rem;
}

.video2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.6rem 0.5rem;
    background-color: rgba(50, 51, 59, 0.25);
    border-radius: 0.8rem;
    height: 47%;
}

.contenedor .section1 {
    grid-area: section1;
    background-image: url(../img/binario1.jpg);
    background-repeat: none;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
    min-height: 75vh;
    justify-content: center;
    align-items: center;
}

.carrousel {
    display: grid;
    margin: 10px;
    height: auto;
    padding: 10 px;
    justify-content: center;
    align-items: center;

   
}

.section2::-webkit-scrollbar {
    width: 15px;
}

.section2::-webkit-scrollbar-track {
    background: var(--color5);
}

.section2::-webkit-scrollbar-thumb {
    background-color: var(--color6);
    border-radius: 10px;
}

.contenedor .section2 {
    grid-area: section2;
    display: flex;
    background-color: var(--color3);
    height: auto;
    color: #DBE0D1;
    padding: 1rem;
    overflow: auto;
}

.section2 .hover{
    overflow: hidden;
    justify-items: center;
    align-items: center;
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    margin: 1.5rem;
    box-shadow: 5px 5px 10px var(--color5); 
}

.front{

    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    justify-content: center;
    align-content: center;
    
    font-size: small;

    box-sizing: border-box;
   
    padding: 5rem 1.3rem 0rem 1.7rem;
    

    color: rgb(0,0,0,0);
}

.peli {
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    justify-content: center;
    align-content: center;
    
    
}

.p1{
    background-image: url(../img/Blade_Runner_\(1982_poster\)c.png);
    background-repeat: none;
    background-position: center;
    background-size: contain;
}

.p2{
    background-image: url(../img/Total_Recall_\(1990\)_c.jpg);
    background-repeat: none;
    background-position: center;
    background-size: contain;
}

.p3{
    background-image: url(../img/Minority_Report_Poster.jpg);
    background-repeat: none;
    background-position: center;
    background-size: contain;
}

.p4{
    background-image: url(../img/scanner.jpg);
    background-repeat: none;
    background-position: center;
    background-size: contain;
}

.p5{
    background-image: url(../img/radio_libre_albemutha\ .jpg);
    background-repeat: none;
    background-position: center;
    background-size: contain;
}

.p6{
    background-image: url(../img/blade_runner_2049.jpg);
    background-repeat: none;
    background-position: center;
    background-size: contain;
}

.hover :hover {
    /*background-color:var(--color1);*/
    opacity: 80%;
    color: var(--color1);
    transform: scale(105%);
    transition: all 0.3 ease;
    background-color:var(--color4);
}
    

.section2>div:hover {
    transform: scale(108%);
    
}

.section2>div:hover .front:not(:hover){
    background-color:var(--color4);
    opacity: 80%;
    color: var(--color1);
}

.titulo {
    background-color: var(--color2);
    color: var(--color1);
    margin: 1.5rem;
    text-align: center;
    padding: 0.4rem;
    box-sizing: border-box;
    width:70%;
    font-size: calc(0.7em + 1vh);
    margin-left: 3rem;
    box-shadow: 5px 5px 10px var(--color5); 
} 

.contenedor .footer {
    display: grid;
    grid-area: footer;
    background-color: var(--color2);
    height: 20vh;
    color: var(--color1);
    justify-content: center;
    padding: 1rem;    
    font-family:'Tw Cen MT Condensed';
    font-size: 1.5rem;
}

#icon {
    display: flex;
    justify-content: space-between;
}

#icon * img:hover {
    box-shadow: 8px 5px 10px var(--color5);
  
    transform: rotate3d(0, 0, 1, 6.142rad);
}
#icon >a:hover{
    transform: scale(120%);

}

.nombre:hover {
    font-size: 6rem;
    animation: glitch 3s infinite;
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

@keyframes glitch {
    0% {
        text-shadow: #b4cf06 0px 0px,
            #0d22da 0px 0px;
    }

    5% {
        text-shadow: #ff005d -3px 0px,
            #06ffea 3px 0px;
    }

    10% {
        text-shadow: #b4cf06 2px 0px,
            #0d22da -2px 0px;
    }

    15% {
        text-shadow: #b4cf06 -1px 0px,
            #0d22da 1px 0px;
    }

    20% {
        text-shadow: #ff005d -3px 0px,
            #06ffea 3px 0px;
    }

    25% {
        text-shadow: #b4cf06 2px 0px,
            #0d22da -3px 0px;
    }

    26% {
        text-shadow: #ff005d 0px 0px,
            #06ffea 0px 0px;
    }

    35% {
        text-shadow: #b4cf06 2px 0px,
            #0d22da -3px 0px;
    }

    40% {
        text-shadow: #b4cf06 -1px 0px,
            #0d22da 3px 0px;
    }

    45% {
        text-shadow: #ff005d -3px 0px,
            #06ffea 3px 0px;
    }

    50% {
        text-shadow: #b4cf06 2px 0px,
            #0d22da -2px 0px;
    }

    49% {
        text-shadow: #b4cf06 0px 0px,
            #0d22da 0px 0px;
    }

    75% {
        text-shadow: #b4cf06 -3px 0px,
            #0d22da 3px 0px;
    }

    76% {
        text-shadow: #ff005d -3px 0px,
            #06ffea 3px 0px;
    }

    100% {
        text-shadow: #b4cf06 0px 0px,
            #0d22da 0px 0px;
    }


}

/*------------------------------*/
/*  CAROUSEL */


body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 600px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/*------------------------------*/

    /* para dispositivos cuya anchura de pantalla sea inferior a 768px */
    @media (max-width: 768px) {
        .contenedor .header {
            display: inline;
            padding: 2% 5% 3% 5%;
        }
        .nombre {
            font-size: 3rem;
        }
        #links {
            font-size: 1rem;
            display: inline
        }
        .ImgLibro {
            width: 217px;
            height: 210px;
        }
        .contenedor .sidebar {
            display: none;
        }
        .section2 .hover {
            width: 12rem;
            height: 12rem;
        }
        .section2 .front {        
            width: 12rem;
            height: 12rem;
            padding: 3.4rem 1.3rem 0rem 1.7rem;
       }
        .titulo{         
          padding: 0.3rem;
          width:70%;
          font-size: calc(0.5em + 0.6vh);
          margin-left: 2.5rem;
           }
        .contenedor .footer {
            font-size: 15px;
        }
    }


    /* para dispositivos cuya anchura de pantalla sea inferior a 425px  */
    @media (max-width: 425px) {
        .nombre {
            font-size: 3rem;
        }
        #links {
            font-size: 0.7rem;
        }
        #links>a{
            padding: 0.55rem 0.5rem;
        }
        .contenedor .main {
            padding: 0.5em;
            font-size: 90%;
            flex-direction:column;
            width: auto;
        }
        #libro {
            margin: 0.1rem 0.3rem 0.1rem 0.3rem;
        }
        .ImgLibro {
            width: 155px;
            height: 150px;
            margin-left: 3rem;
        }
        #libro>div {
            font-size: 70%;
            margin: 1rem;
        }
        .info {
            font-size: 70%;
        }
        .img {
            height:60%;}
    }

    /*@media (max-width: 768px){}*/







 