* {
  
    margin:0px;
    padding: 0px;
    scroll-behavior: smooth;
}

:root {
    font-size: 20px;
    --color1: #DBE0D1;
    --color2: #082323;
    --color3: #32333B;
    --color4: #32323A;
    --color5: #00140D;
    --color6: #D38D00;
 
}

@font-face {
    font-family: "jmh-typewriter.regular";
    src: url(../fonts/jmh-typewriter.regular.ttf);

    font-family: "OverpassMono";
    src: url(../fonts/OverpassMono-VariableFont_wght.ttf);
}

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background: var(--color2);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color6);
    border-radius: 15px;
}

.contenedor {
    /*max-width: 120rem;*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.5fr;
    grid-auto-rows: repeat(3, 1fr);
    grid-template-areas:
        "header     header      header"
        "main       main       main"
        "main       main       main"
        "main       main       main"
        "footer      footer     footer";
    background-color: var(--color3);

}

.contenedor .header {
    grid-area: header;

    width: 100%;
    justify-content: space-between;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 50% 50%;
    background-color: var(--color2);
    color: var(--color1);
    align-items: center;
    font-family: 'Tw Cen MT Condensed';
    padding-left: 5%;
   
}

.nombre {
    font-size: 5rem;
    padding-left: 1.5rem;
   
}

.contenedor .nav {
    display: flex;
    background-color: var(--color2);
    height: 20vh;
    color: var(--color1);
    justify-content: end;
    padding: 2% 15% 3% 5%;
    font-size: 1.6rem;
    border: red solid 3px;
}

.links:hover {
    box-shadow: 5px 5px 10px var(--color5);
    transform: scale(110%);
    border-radius: 10px;
    transform: rotate3d(0, 0, 1, 6.142rad);
}

#links>a {
    font-family: 'Tw Cen MT Condensed';
    text-decoration: none;
    padding: 0.55rem 1rem;
    color: var(--color1)
}

#links {
    display: flex;
    height: fit-content;
}

.contenedor .main {
    display: flex;
    grid-area: main;
    background-color: var(--color3);
    height: auto;
    padding: 1rem;
    padding-top: 3rem;
    justify-content: end;
    box-sizing: border-box;
}

h3 {
    padding-bottom: 0.8rem;
    font-family: 'Tw Cen MT Condensed';
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}



.contenedor .footer {
    display: grid;
    grid-area: footer;
    background-color: var(--color2);
    height: 20vh;
    color: var(--color1);
    justify-content: center;
    padding: 1rem;
    font-family:'Tw Cen MT Condensed';
    font-size: 1.5rem;
}

#icon {
    display: flex;
    justify-content: space-between;

}

#icon * img:hover {
    box-shadow: 8px 5px 10px var(--color5);
  
    transform: rotate3d(0, 0, 1, 6.142rad);
}
#icon >a:hover{
    transform: scale(120%);

}

.nombre:hover {
    font-size: 6rem;
    animation: glitch 3s infinite;
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

@keyframes glitch {
    0% {
        text-shadow: #b4cf06 0px 0px,
            #0d22da 0px 0px;
    }

    5% {
        text-shadow: #ff005d -3px 0px,
            #06ffea 3px 0px;
    }

    10% {
        text-shadow: #b4cf06 2px 0px,
            #0d22da -2px 0px;
    }

    15% {
        text-shadow: #b4cf06 -1px 0px,
            #0d22da 1px 0px;
    }

    20% {
        text-shadow: #ff005d -3px 0px,
            #06ffea 3px 0px;
    }

    25% {
        text-shadow: #b4cf06 2px 0px,
            #0d22da -3px 0px;
    }

    26% {
        text-shadow: #ff005d 0px 0px,
            #06ffea 0px 0px;
    }

    35% {
        text-shadow: #b4cf06 2px 0px,
            #0d22da -3px 0px;
    }

    40% {
        text-shadow: #b4cf06 -1px 0px,
            #0d22da 3px 0px;
    }

    45% {
        text-shadow: #ff005d -3px 0px,
            #06ffea 3px 0px;
    }

    50% {
        text-shadow: #b4cf06 2px 0px,
            #0d22da -2px 0px;
    }

    49% {
        text-shadow: #b4cf06 0px 0px,
            #0d22da 0px 0px;
    }

    75% {
        text-shadow: #b4cf06 -3px 0px,
            #0d22da 3px 0px;
    }

    76% {
        text-shadow: #ff005d -3px 0px,
            #06ffea 3px 0px;
    }

    100% {
        text-shadow: #b4cf06 0px 0px,
            #0d22da 0px 0px;
    }


}

/*------------------------------*/
/* FORM CONTACTO*/
#div_nombre_label,
#div_email_label,
#div_asunto_label,
#div_comentario_label,
.main .container_contacto #formulario {
    font-size: 1.8rem;
    font-family: 'Tw Cen MT Condensed';
    color: white;
    margin-left: 0px;
}

#div_terminos_spam{
    font-size: 1.6rem;
    font-family: 'Tw Cen MT Condensed';
    color: white;
    margin-left: 0px;
}

#div_nombre_input,
#div_email_input,
#div_asunto_input,
#div_comentario_input {
    font-size: 1.5rem;
    font-family: 'Tw Cen MT Condensed';
    color: white;
    margin-left: 0px;
    margin-bottom: 5px;
}

._btn {
    font-family: 'Tw Cen MT Condensed';
    font-size: 1.4rem;
    color: white;
    background-color: var(--color3);
    margin-left: 90px;
    margin-top: 10px;
    height: 50px;
    width: 100px;
}

#nombre,
#email,
#asunto {
    width: 300px;
    height: 35px;
    color: black;
    font-weight: 700;
}

#comentario {
    width: 300px;
    color: black;
    font-weight: 700;
}

#formulario #div_nombre_input i {
    opacity:0;
}

#formulario #div_email_input i {
    opacity:0;
}

#formulario #div_asunto_input i {
    opacity:0;
}

#formulario #div_comentario_input i {
    opacity:0;
}

.error{
font-size: 1rem;
color: red;
}

.failure-icon{
    color: red;
}

.success-icon{
    color: green;
}

#face,
#insta,
#twitter,
#youtube{
    margin-left: 0px;
    margin-right: 60px;
}
/* FORM CONTACTO*/
/*------------------------------*/




@media (max-width: 768px) {
.contenedor .header {
        display: inline;
    }
    .nombre{
        font-size: 4rem;
    }

    #links {
        font-size: 1rem;
        display: inline
    }
    .contenedor .footer {
        font-size: 15px;
        }


}



@media (max-width: 425px) {
.nombre {    
        font-size: 3rem;
    }
    #links{
        font-size: 0.7rem;
    }
    .contenedor .main {
        padding: 0.5em;
        font-size: 90%;
}


}


