* {
    box-sizing: border-box;
    margin: auto;
    padding: 0px;
}

:root{
    font-size: 20px;
}

.contenedor{
    width: 660px;
    height: 600px;
    /*background-color: rgb(124, 144, 112);*/
    background-color:#006600;
}

.disco{
    width: 200px;
    height: 200px;
    margin: 5px; 
    display: inline-block;
}

#p1{
    width: 206px;
    height: 210px;
    border-color: rgb(249, 123, 34);
    border-style: solid;
    border-width: 3px;
    position: absolute;
    display: inline-block;
    margin: auto; 
}

#p2{
    width: 206px;
    height: 206px;
    border-color: rgb(249, 123, 34);
    border-style: solid;
    border-width: 1px;
    position: relative;
    display: inline-block;
    
    
}

header{
    font-family: 'Permanent Marker';
    color: orange;
    background-color: #006600;
    font-size: 4rem;
    text-align: center;
}

h1{
    font-family: Verdana, arial, Tahoma, sans-serif;
    color: orange;
    background-color: #006600;
    text-align: center;
    font-size: 4rem;
}

h4{
    color: rgb(254, 232, 176);
    background-color: #006600;
    text-align: center;
    font-size: 2rem;
}

body {
    font-family: Verdana, arial, Tahoma, sans-serif;
    color: orange;
    background-color: #006600;
    
}

nav {
    font-family: 'Sedgwick Ave Display';
    font-size: 1.5rem;
    color: orange;
    background-color: #006600;
    text-align: center;
}

main {
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 40px;
}
